:root{
    --light-color-1: rgb(50,50,50);
    --light-background-1: white;
}
.navigation{
    width: 100%;
    margin: 0% auto;
    background-color: var(--light-background-1);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid var(--light-color-1);
}
.nav-link{
    text-decoration: none;
    color: var(--light-color-1);
    font-size: 25px;
    font-weight: bold;
    transition: all .2s;
}
.nav-link:hover{
    color: rgb(255, 21, 60);
}

@media(max-width:550px){
    .nav-link{
    font-size: 20px;
}
.navigation{
    justify-content: space-between;
}
}